<div class="wrapper" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" flex-wrap="wrap" fxLayoutAlign="center">
    <mat-card class="card-picture" *ngFor="let picture of pictures">
        <mat-card-header>
            <mat-card-subtitle>
                {{picture.identity}}
            </mat-card-subtitle>
            <mat-card-title>{{picture.h4}}</mat-card-title>

        </mat-card-header>
        <mat-card-content>
            <div class="con">
                {{picture.content}}
            </div>
            <div class="coun">
                {{picture.experience}}
            </div>
            <div class="place">
                {{picture.country}}
            </div>

            <!-- <img mat-card-image [src]="picture.img"> -->
        </mat-card-content>

        <mat-card-actions>
            <div class="compose" [ngClass]="{'gsgActive':'buttonActive1','gsgActive':'buttonActive2'}">
                <button class="leftButton" (click)="refer()">{{picture.button}}</button>
                <button class="leftButton" (click)="apply()">{{picture.button2}}</button>
            </div>
        </mat-card-actions>
        <mat-card-footer>
            <mat-checkbox>Mark not Interested</mat-checkbox>
        </mat-card-footer>
    </mat-card>
</div>